In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
import pandas as pd

# Define the data
data = {
    "pounds": [1190, 1033, 897, 789, 706, 595, 512, 433, 395, 304, 243, 
               1124, 974, 830, 702, 619, 529, 451, 359, 296, 247, 194],
    "price": [3, 3.2, 3.4, 3.6, 3.8, 4, 4.2, 4.4, 4.6, 4.8, 5, 
              3, 3.2, 3.4, 3.6, 3.8, 4, 4.2, 4.4, 4.6, 4.8, 5],
    "advertise": [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 
                  0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
    "price2": [9, 10.24, 11.56, 12.96, 14.44, 16, 17.64, 19.36, 21.16, 23.04, 25, 
               9, 10.24, 11.56, 12.96, 14.44, 16, 17.64, 19.36, 21.16, 23.04, 25]
}

# Create the DataFrame
coffee = pd.DataFrame(data)

# Convert 'advertise' column to categorical type
coffee['advertise'] = coffee['advertise']#.astype('category')

coffee.head()

   pounds  price  advertise  price2
0    1190    3.0          1    9.00
1    1033    3.2          1   10.24
2     897    3.4          1   11.56
3     789    3.6          1   12.96
4     706    3.8          1   14.44

In [39]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression

# Import necessary library
from sklearn.preprocessing import OneHotEncoder
# Manually create only the desired interaction terms
coffee['price_advertise1'] = coffee['price'] * coffee['advertise']
coffee['price2_advertise1'] = coffee['price2'] * coffee['advertise']

# Define features and target
X_M = coffee[['price', 'price2', 'advertise', 'price_advertise1', 'price2_advertise1']]
y = coffee['pounds']

# Fit the model using scikit-learn's LinearRegression
from sklearn.linear_model import LinearRegression

lmM = LinearRegression().fit(X_M, y)

# Print coefficients and intercept
print("Model M Coefficients:", lmM.coef_)
print("Model M Intercept:", lmM.intercept_)


X_H = coffee[['price', 'price2', 'advertise']]

# Fit the model
lmH = LinearRegression().fit(X_H, y)

# Print coefficients and intercept
print("Model H Coefficients:", lmH.coef_)
print("Model H Intercept:", lmH.intercept_)

Model M Coefficients: [-1547.02331002   136.48018648  -240.45454545   161.64219114
   -20.48368298]
Model M Intercept: 4524.818181818194
Model H Coefficients: [-1466.20221445   126.23834499    70.18181818]
Model H Intercept: 4369.499999999996

In [40]:
# Calculate R² for Model M
R2_M = lmM.score(X_M, y)

# Calculate R² for Model H
R2_H = lmH.score(X_H, y)

print(f"Model M R²: {R2_M:.4f}")
print(f"Model H R²: {R2_H:.4f}")
print(f"Fraction of variance explained drop: {(R2_M - R2_H)}")

Model M R²: 0.9983
Model H R²: 0.9982
Fraction of variance explained drop: 0.0001567816488824425

In [53]:
import pandas as pd
n_conc = 21
n_heik = 31

import pandas as pd

# Exact data as provided in R
P1 = pd.DataFrame({
    "species": ["conc"] * n_conc + ["Heik"] * n_heik,  # Exactly the same species list as in R
    "number": [
        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
        1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21,
        22, 23, 24, 25, 26, 27, 28, 29, 30, 31
    ],
    "x1": [
        191, 185, 200, 173, 171, 160, 188, 186, 174, 163, 190, 174, 201, 190, 182, 184,
        177, 178, 210, 182, 186, 186, 211, 201, 242, 184, 211, 217, 223, 208, 199, 211,
        218, 203, 192, 195, 211, 187, 192, 223, 188, 216, 185, 178, 187, 187, 201, 187,
        210, 196, 195, 187
    ],
    "x2": [
        131, 134, 137, 127, 118, 118, 134, 129, 131, 115, 143, 131, 130, 133, 130, 131,
        127, 126, 140, 121, 136, 107, 122, 114, 131, 108, 118, 122, 127, 125, 124, 129,
        126, 122, 116, 123, 122, 123, 109, 124, 114, 120, 114, 119, 111, 112, 130, 120,
        119, 114, 110, 124
    ],
    "x3": [
        53, 50, 52, 50, 49, 47, 54, 51, 52, 47, 52, 50, 51, 53, 51, 51, 49, 53, 54, 51,
        56, 49, 49, 47, 54, 43, 51, 49, 51, 50, 46, 49, 49, 49, 49, 47, 48, 47, 46, 53,
        48, 50, 46, 47, 49, 49, 54, 47, 50, 51, 49, 49
    ]
})

# Convert 'species' to a categorical type
P1['species'] = P1['species'].astype('category')

# Display the DataFrame
P1.head()

  species  number   x1   x2  x3
0    conc       1  191  131  53
1    conc       2  185  134  50
2    conc       3  200  137  52
3    conc       4  173  127  50
4    conc       5  171  118  49

In [57]:
import numpy as np
import pandas as pd
from scipy.spatial.distance import mahalanobis

# Example dataframe (P1 already defined in previous steps)
# Separate the data by species
conc_data = P1[P1['species'] == 'conc'][['x1', 'x2', 'x3']]
heik_data = P1[P1['species'] == 'Heik'][['x1', 'x2', 'x3']]

# Calculate means for each group
mu_conc = np.mean(conc_data, axis=0)
mu_heik = np.mean(heik_data, axis=0)

# Calculate the covariance matrix (pooled covariance matrix)
cov_matrix = np.cov(np.vstack([conc_data, heik_data]), rowvar=False)

# Inverse of the covariance matrix
cov_matrix_inv = np.linalg.inv(cov_matrix)

# Calculate Mahalanobis distance between the two group means
mahalanobis_distance = np.sqrt((mu_conc - mu_heik) @ cov_matrix_inv @ (mu_conc - mu_heik).T)

print("Mahalanobis distance between the two groups:", mahalanobis_distance)

Mahalanobis distance between the two groups: 1.794547302693349

In [59]:
import numpy as np

# Separate the data by species
conc_x1 = P1[P1['species'] == 'conc']['x1']
heik_x1 = P1[P1['species'] == 'Heik']['x1']

# Calculate the variance for each group
var_conc = np.var(conc_x1, ddof=1)  # ddof=1 for sample variance
var_heik = np.var(heik_x1, ddof=1)

# Calculate the sample sizes
n_conc = len(conc_x1)
n_heik = len(heik_x1)

# Calculate the pooled variance
pooled_variance = ((n_conc - 1) * var_conc + (n_heik - 1) * var_heik) / (n_conc + n_heik - 2)

# Print the result
print("Pooled Variance for x1:", pooled_variance)

# the generalised variance of the pooled covariance matrix

# Calculate the pooled covariance matrix
pooled_cov_matrix = ((n_conc - 1) * np.cov(conc_data, rowvar=False) + 
                     (n_heik - 1) * np.cov(heik_data, rowvar=False)) / (n_conc + n_heik - 2)

# Calculate the determinant of the pooled covariance matrix
pooled_cov_matrix_det = np.linalg.det(pooled_cov_matrix)

# Print the result
print("Determinant of the Pooled Covariance Matrix:", pooled_cov_matrix_det)

Pooled Variance for x1: 192.2761904761905
Determinant of the Pooled Covariance Matrix: 13618.056598685102